@{
  Layout = "_Layout";
}

@using BakeryMVC.Models;

<div class="container">
  <div class="jumbotron">
    <h1>Vendor Details</h1>
  </div>

  <img src='~/img/loaves.jpg'>
  <hr>
  
  @if (@Model.Count == 0)
  {
    <h3>No vendors have been added yet.</h3>
  }

  <h3>@Model["vendor"].vendorName</h3>
  <h3>@Model["vendor"].vendorDescription</h3>

  <h3>Vendor Orders:</h3>
  @if (@Model["orders"].Count == 0) 
  {
    <h3>No orders have been added for this vendor yet.</h3>
  }
  
  <ol>
  @foreach (var order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.OrderId'>@order.OrderTitle</a></li>
  }
  </ol>

  <h3><a href='/vendors/@Model["vendor"].Id/orders/new'>Add New Order to Vendor</a></h3>
  <hr>
  <p><a href='/vendors'>Vendor list</a></p>
  <p><a href='/'>Main Page</a></p>
</div>